#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Unbounded", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  display: flex;
  gap: 2em;
}

.btn-fav {
  background-color: goldenrod;
  color: black;
  padding: 1.2em;
}

.btn-fav:hover {
  background-color: orange;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  gap: 20em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

#search-button {
  width: 10%;
  height: 2.5em;
  background-color: goldenrod;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.card-fav-section {
  display: flex;
  flex-direction: column;
}

.card-fav-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.modal {
  position: fixed;
  bottom: 20px;
  left: 10%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  background-color: gray;
  color: black;
}

.modalFav {
  position: fixed;
  bottom: 20px;
  right: -7%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  background-color: yellow;
  color: black;
}
